---
title: Publications
---

<!doctype html>
<html>
    <!-- INCLUDE CSS etc-->
    {% include head.html %}

    <!-- ALL CONTENT -->
    <div class="wrapper">
    <!-- BODY -->
    <body>

    <!-- HEADER and NAV-->
    {% include header.html %}

    <!-- BODY -->
    <section>

        <h3>Conference Papers</h3>

        <div class='paper_line'>
            <a href="papers/paper1.pdf">Test Paper</a>. <a id="appendixFont" href="papers/paper1-appendix.pdf">Appendix</a> <a id="bibtexFont" href="bibtex/aistats2020_vpsa.html">BibTex</a></div>
            <div class='paper_line'>Author1, Author2, ..., AuthorN</div>
        <div class='paper_line'><i>Super Cool Conference</i>.</div>
        <p></p>
        <br>

    </section>
    </body>

    <!-- FOOTER -->
    {% include footer.html %}
    </div>
</html>